@model ConfigurableAppSettings.StructureMap.Sample.Web.Models.HomeIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Greeting</h2>

<p>Token: @Model.Token</p>

<p>[@Html.ActionLink("view sample settings", "Index", "Diagnostics")]</p>
